.alert.error {
	--bg: var(--dx-error);
	--border: var(--dx-on-error);
	--color: var(--dx-on-error);
}

.alert.warning {
	--bg: var(--dx-warning);
	--border: var(--dx-on-warning);
	--color: var(--dx-on-warning);
}

.alert.success {
	--bg: var(--dx-success);
	--border: var(--dx-on-success);
	--color: var(--dx-on-success);
}

.alert.info {
	--bg: var(--dx-info);
	--border: var(--dx-on-info);
	--color: var(--dx-on-info);
}

.alert {
	background: color-mix(in srgb, var(--bg) 30%, transparent);
	padding: 0.5rem 1.25rem;
	border-radius: 5px;
	border: 1px solid color-mix(in srgb, var(--border) 10%, transparent);
	color: var(--color);
	display: flex;
	align-items: center;
	gap: 1rem;
	border-left: 4px solid var(--color);
	margin: 0;
}

.alert > * {
	margin: 0;
}
