.avatarGroup {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0;
}

.avatarGroup > * {
	transition: transform 0.3s ease;
	user-select: none;
	border: 3px solid var(--ff-surface);
}

.avatarGroup > *:not(:first-child) {
	margin-left: -1.5rem;
}

.avatarGroup > *:hover {
	z-index: 1;
	transform: translateY(-0.5rem);
}
