.bottomSheetDragButton {
	cursor: grab;
	user-select: none;
	padding: 1rem;
	display: flex;
	justify-content: center;
	outline: none;
	width: 100%;
}

.bottomSheetDragButton.text {
	background: none;
	border: none;
}

.bottomSheetDragButton.contained {
	background: var(--dx-border);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.bottomSheetDragButton.outlined {
	background: none;
	border-bottom: 1px solid var(--dx-border);
}

.bottomSheetDragButton span {
	height: 4px;
	width: 40px;
	display: block;
	background: var(--dx-primary);
	border-radius: 5px;
}
