.bottomSheet {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.1s linear;
    z-index: 999;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: initial;
    pointer-events: none;
}

.bottomSheet.show {
    opacity: 1;
    pointer-events: auto;
}

.bottomSheet.show .content {
    transform: translateY(0%);
}

.content {
    width: 100%;
    position: relative;
    background: var(--ff-surface);
    color: var(--ff-on-surface);
    min-height: 0;
    max-height: 100vh;
    height: 50vh;
    max-width: 1150px;
    padding: 0.5rem;
    transform: translateY(100%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--ff-border);
}

.dragIcon {
    cursor: grab;
    user-select: none;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
}

.bottomSheet.text .dragIcon {
    background: none;
    border: none;
}

.bottomSheet.contained .dragIcon,
.bottomSheet.outlined .dragIcon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.bottomSheet.contained .dragIcon {
    background: var(--ff-border);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.bottomSheet.outlined .dragIcon {
    background: none;
    border-bottom: 1px solid var(--ff-border);
}

.dragIcon span {
    height: 4px;
    width: 40px;
    display: block;
    background: var(--ff-primary);
    border-radius: var(--radius-pill);
}

.bottomSheet .wrapper {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 1rem;
}

.bottomSheet .wrapper::-webkit-scrollbar {
    width: 0;
}