.checkbox.info {
	--bg-color: var(--dx-info);
	--icon-color: var(--dx-on-info);
}

.checkbox.success {
	--bg-color: var(--dx-success);
	--icon-color: var(--dx-on-success);
}

.checkbox.warning {
	--bg-color: var(--dx-warning);
	--icon-color: var(--dx-on-warning);
}

.checkbox.error {
	--bg-color: var(--dx-error);
	--icon-color: var(--dx-on-error);
}

.checkbox.secondary {
	--bg-color: var(--dx-secondary);
	--icon-color: var(--dx-on-secondary);
}

.checkbox {
	position: relative;
	display: flex;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	gap: 0.5rem;
	align-items: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.checkbox input {
	display: none;
}

.wrapper {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 8px;
	transition: transform 0.2s ease;
}

.bg {
	position: absolute;
	inset: 0;
	border-radius: 8px;
	background: var(--bg-color);
	transition: all 0.2s ease;
}

/* .checkbox.outlined .bg {
	border: 2px solid color-mix(in srgb, var(--icon-color) 10%, transparent);
} */

.icon {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 80%;
	height: 80%;
	color: var(--icon-color);
	transform: scale(0);
	transition: all 0.2s ease;
}

.icon path {
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	transition: stroke-dashoffset 0.3s ease 0.1s;
}

.checkbox input:checked+.wrapper .bg {
	background: color-mix(in srgb, var(--bg-color), white 10%);
}

.checkbox input:checked+.wrapper .icon {
	transform: scale(1);
}

.checkbox input:checked+.wrapper .icon path {
	stroke-dashoffset: 0;
}

.checkbox input:disabled+.wrapper .bg {
	background: var(--dx-disabled);
}

.checkbox:has(input:disabled) {
	cursor: not-allowed;
}

/* sizes */

.checkbox.xs .wrapper {
	width: 16px;
	height: 16px;
}

.checkbox.sm .wrapper {
	width: 20px;
	height: 20px;
}

.checkbox.md .wrapper {
	width: 24px;
	height: 24px;
}

.checkbox.lg .wrapper {
	width: 28px;
	height: 28px;
}

.checkbox.xl .wrapper {
	width: 32px;
	height: 32px;
}