.code {
	line-height: 1.5;
	overflow: auto;
	height: auto;
	width: auto;
}

.code::-webkit-scrollbar {
	width: 8px;
}

.code::-webkit-scrollbar-thumb {
	background: var(--ff-border);
	border-radius: 4px;
}