.link {
	margin: 0;
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	transition: color 0.3s ease;
	color: var(--nn-on-bg, currentColor);
	line-height: 0.7em;
	text-decoration: none;
}

.hasHover {
	--origin: bottom left;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: 0.3em;
}

.hasHover.left,
.hasHover.underlineNone {
	--origin: bottom left;
}

.hasHover.center {
	--origin: bottom center;
}

.hasHover.right {
	--origin: bottom right;
}

.hasHover.underlineNone::after {
	transform: scaleX(1);
}

.hasHover:not(.underlineNone)::after {
	transform: scaleX(0);
}

.hasHover::after {
	content: "";
	position: absolute;
	inset-inline-start: 0;
	inset-block-end: -0.3em;
	width: 100%;
	transform-origin: var(--origin);
	height: 0.125em;
	background: var(--nn-primary, currentColor);
	transition: transform 0.25s ease-out;
}

@media (hover: hover) and (pointer: fine) {
	.link:hover {
		color: color-mix(in srgb, var(--nn-on-bg, currentColor) 75%, gray 15%);
	}

	.link svg {
		transition: opacity 0.3s ease;
	}

	.link:hover svg {
		opacity: 0.7;
	}

	.hasHover.underlineNone:hover::after {
		transform: scaleX(0);
	}

	.hasHover:not(.underlineNone):hover::after {
		transform: scaleX(1);
	}
}
