.menu {
	position: relative;
	user-select: none;
}

.controller {
	display: none;
}

.container {
	display: inline-block;
	cursor: pointer;
}

.anchor {
	display: inline-block;
}

.anchor:active {
	pointer-events: none;
}

.content {
	position: absolute;
	top: 100%;
	overflow: hidden;
	width: max-content;
	max-width: 100vw;
	background: var(--nn-surface);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	padding: 0;
	z-index: 2;
	margin: 0;
	opacity: 0;
	transform: translateY(-5px);
	pointer-events: none;
	transition:
		opacity 150ms ease-in-out,
		transform 150ms ease-in-out;
}

.content.isTranslucent {
	background: color-mix(in srgb, var(--nn-surface) 30%, transparent);
	backdrop-filter: blur(15px);
}

.controller:checked ~ .content,
.menu:not(.disableHover).openOnHover:hover .content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
