.navbarItem {
	display: flex;
}

.navbarItem[aria-current="page"] {
	background: color-mix(in srgb, var(--dx-surface) 85%, gray 15%);
}

.navbarItem > * {
	background: none !important;
	color: none !important;
}

@media (hover: hover) and (pointer: fine) {
	.navbarItem:hover {
		background: color-mix(in srgb, var(--dx-surface) 90%, gray 10%);
		color: var(--dx-on-surface) !important;
		opacity: 1 !important;
	}

	.navbarItem > *:hover {
		background: none !important;
	}

	.navbarItem.contained:hover {
		color: var(--dx-on-primary) !important;
	}
}
