.navbarItem {
	height: fit-content;
	line-height: normal;
	padding: 0.5rem 1rem;
}

.navbarItem[aria-current="page"] {
	background: color-mix(in srgb, var(--ff-surface) 85%, gray 15%);
	font-weight: bold;
}
