.navbar {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 0 clamp(0.5rem, 2vw, 1rem);
	color: var(--nn-on-surface);
	display: flex;
	align-items: center;
	height: 80px;
	user-select: none;
}

.navbar.contained {
	background: var(--nn-surface);
}

.navbar.outlined {
	background: none;
	border: 1px solid var(--nn-border);
}

.navbar.text {
	border: none;
	background: none;
}

.navbar.isTranslucent {
	background: color-mix(in srgb, var(--nn-surface) 30%, transparent);
	backdrop-filter: blur(15px);
}
