:root {
	--rounded-full: 9999px;
	--thumb-size: 18px;
	--thumb-border: 2px solid var(--nn-border);
	--thumb-bg: var(--nn-on-surface);
	--track-height: 6px;
}

.rangeInput {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: var(--track-height);
	border-radius: 5px;
	background: var(--nn-surface);
	outline: none;
	opacity: 0.8;
	cursor: pointer;
	user-select: none;
	transition: opacity 0.2s ease;
	border: 1px solid var(--nn-border);
}

.rangeInput:hover,
.rangeInput:focus-visible {
	opacity: 1;
}

.rangeInput:focus-visible {
	outline: 2px solid var(--thumb-bg);
	outline-offset: 2px;
}

/* WebKit */

.rangeInput::-webkit-slider-runnable-track {
	height: var(--track-height);
	border-radius: var(--rounded-full);
	background: linear-gradient(
		to right,
		var(--thumb-bg) 0%,
		var(--thumb-bg) var(--progress, 0%),
		color-mix(in srgb, var(--nn-surface) 80%, gray) var(--progress, 0%),
		color-mix(in srgb, var(--nn-surface) 80%, gray) 100% 100%
	);
}

.rangeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	border: var(--thumb-border);
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
	position: relative;
	margin-top: calc((var(--track-height) - var(--thumb-size)) / 2);
	cursor: pointer;
	background: var(--thumb-bg);
	background-image: var(--thumb-icon);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.rangeInput:active::-webkit-slider-thumb {
	border-color: var(--thumb-bg);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */

.rangeInput::-moz-range-track {
	height: var(--track-height);
	border-radius: var(--rounded-full);
	background: color-mix(in srgb, var(--nn-surface) 80%, gray);
}

.rangeInput::-moz-range-progress {
	height: var(--track-height);
	border-radius: var(--rounded-full);
	background: var(--thumb-bg);
}

.rangeInput::-moz-range-thumb {
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	border: var(--thumb-border);
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
	background: var(--thumb-bg);
	background-image: var(--thumb-icon);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.rangeInput:active::-moz-range-thumb {
	border-color: var(--thumb-bg);
}

/* sizes */

.rangeInput.xs {
	--thumb-size: 12px;
	--track-height: 3px;
	--thumb-border: 1.5px solid var(--nn-border);
}

.rangeInput.sm {
	--thumb-size: 14px;
	--track-height: 4px;
	--thumb-border: 1.75px solid var(--nn-border);
}

.rangeInput.md {
	--thumb-size: 18px;
	--track-height: 6px;
	--thumb-border: 2px solid var(--nn-border);
}

.rangeInput.lg {
	--thumb-size: 24px;
	--track-height: 8px;
	--thumb-border: 2.5px solid var(--nn-border);
}

.rangeInput.xl {
	--thumb-size: 30px;
	--track-height: 10px;
	--thumb-border: 3px solid var(--nn-border);
}
